.app__slotInfo{
    display: flex;
    flex-direction: column;
    padding: 6vw;
}
.app__slotInfo-stat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    border-radius: 2vh;

    p{
        font-size: 16vw;
        font-weight: 500;
    }

}